#carouselExampleAutoplaying{
    width: 50%;
    height: auto;
    }
div{ 
    h2{
    padding-top: 20rem;
    }
}
@media screen and (min-width: 320px) and (max-width :767px){
    #carouselExampleAutoplaying{
        width: 100%;
        height: auto;
    }
    div {
        h2{
        padding-top: 2rem;
    }
    }
 }