header{
    background-color:#1d0ea5;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    text-align:center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.nav-item a:hover{
    color:#2998e2
}
a
{
color: #ffffff;
}