p{
    color: #ffffff;
    background-color: #1d5da7;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
h1 {
    color: #0b4bac;
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
h2 {
    color: #0b4bac;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
h3{
    color: #0b4bac;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}