.table{
    margin: 2 rem;

    th{
        background-color: #1d0ea5;
        /* padding: 3rem; */
        font-size: medium;
        text-align: center;
        }
    td{
        font-size:large;
    }
    tr{
    text-align: center;
        }
    }
